@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Clients</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input name="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">DisplayName</label>
                <input name="DisplayName" class="form-control" />
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>